<div class="alert alert-block alert-info" style="background-color: #301E40; border: 0px; -moz-border-radius: 10px; -webkit-border-radius: 10px;">
<br/><br/>
<h1 style="font-size: 45px; color: white; align: center;"><center>
<img src="https://raw.githubusercontent.com/HumbleData/beginners-data-workshop/master/media/humble-data-logo-white-transparent.png" width="250px" /><br/><br/>
Introduction to Python
</center></h1>
</div>

## Welcome to learning Python!

These notebooks contain a mix of text and code. This makes it easy to experiment with code and keep documentation like this in the same place. Another nice thing about these notebooks is that you can execute each cell individually and therefore work incrementally with your code. If you want to execute a cell, you can press the "►" button above when you have highlighted the cell. Alternatively, you can hit **Shift + Enter** to execute and progress to next cell or alternatively **Ctrl + Enter** (Win) or **Cmd + Enter** (Mac).

We will walk you through different aspects of the Python language interactively. Take your time to experiment with it if you like and don't hesitate to ask or Google things. One of the first lessons in programming is using the documentation and information shared by other programmers. Jupyter has another trick, where you can put your cursor into the brackets of a function call such as `print()` and hit **Shift + Tab**. This will let you see the documentation of a function directly in the notebook (*pro-tip*: you can hit it up to four times for different effects).

As for Python itself, one of the big strengths of Python is the extensibility. It has a surprising amount of functionality directly within the core language, however, you can `import` almost arbitrary code others make available as libraries. Below you can see a special import that shows you the "Zen of Python" a set of guidelines that could guide your programming journey."

In [1]:
# We can use comments to document our code in a coding cell.
import this  # Zen of Python

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [14]:
!git clone https://github.com/HumbleData/beginners-data-workshop.git
!cp -r beginners-data-workshop/media/ .
!cp -r beginners-data-workshop/data/ .
!cp -r beginners-data-workshop/solutions/ .
!rm -r beginners-data-workshop/

Cloning into 'beginners-data-workshop'...
remote: Enumerating objects: 947, done.
remote: Counting objects: 100% (939/939), done.
remote: Compressing objects: 100% (370/370), done.
remote: Total 947 (delta 432), reused 868 (delta 389), pack-reused 8 (from 1)
Receiving objects: 100% (947/947), 4.58 MiB | 23.33 MiB/s, done.
Resolving deltas: 100% (432/432), done.

**--> Simple is better than complex.**  
It is really easy to print ***Hello World*** in Python:

In [2]:
print('Hello World!')

Hello World!

**PEP 8** is Python's style guide. You can find it here:
https://www.python.org/dev/peps/pep-0008/

It is good to know about, but when you become a professional programmer there are programs called a "linter" that will help you adhere to PEP 8.

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Variables
</h2><br>
</div>

In programming it's very useful to store values. Accessing values through names is called a variable. Python is very user-friendly in that it will let you store most things in a variable, without making space in the computer's space explicitly. Moreover, computers need to differentiate between the type of data, such as, `5` being an integer and `'Hello'` being a string, but Python attempts to handle these intuitively for you. You will learn about the different types in the following sections!

**Python is an object oriented programming language. You do not need to declare variables (or their types) before using them as every variable in Python is an object.**

In [3]:
name = 'Sandrine'

In [4]:
print(name)

Sandrine

Moreover, variables can easily be updated. Try it out below!

---

***Note***: when you see cells that starts with `# !cat` means that it is a cell that can give you ***a*** solution. Remember there can be more than one solution to a problem in programming!

If you would like to see the solution, you will have to remove the `#` using **Ctrl + /** (Windows) or **Cmd + /** (macOS) and then run the cell.

Try solving it yourself before getting the solution.


---

>Assign another string to the variable 'name' and print this variable

In [6]:
name = "pycon"
print(name)

pycon

In [12]:
!cat solutions/01_01.py

cat: solutions/01_01.py: No such file or directory

**!!! Variable can change type when re-assigned.**

>Assign a number (without quotes) to the variable 'name' and print this variable

In [8]:
name = 2
print(name)

2

In [15]:
!cat solutions/01_02.py

name = 8
print(name)

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Strings
</h2><br>
</div>

A string always begins and ends with a single ( ' ) or double ( \" ) quotes. There is no difference, except if there is an apostrophe ( ' ) inside the string.

In [16]:
'Beginners Data Workshop'

'Beginners Data Workshop'

In [17]:
"Beginner's Data Workshop"

"Beginner's Data Workshop"

>Write *I'm enjoying this workshop!* using double quotes, and then single quotes.

In [18]:
# double quotes
"I'm enjoying this workshop! using double quotes, and then single quotes."

"While I'md enjoying this workshop! using double quotes, and then single quotes."

In [19]:
!cat solutions/01_03.py

"I'm enjoying this workshop!"

In [25]:
# single quotes
'I'm enjoying the workshop!'

SyntaxError: unterminated string literal (detected at line 2) (<ipython-input-25-bb21c8cd95f0>, line 2)

In [21]:
!cat solutions/01_04.py

'I'm enjoying this workshop!'

**Oh no, an error!** Errors are nothing to be afraid of. Think of them as friendly messages trying to help you understand what's gone wrong. Here's how to read this:
- Read errors backwards, so start at the bottom! It's a "SyntaxError" which means there's something wrong with our Python code.
- There's a tiny arrow `^` pointing to what went wrong. Something near the m of `I'm`
- On the top line, it says the error was on "line 2". This is often helpful when trying to fix (or "debug") broken code.

**It turns out, if you want to use single quotes inside single quotes, you need to "escape" the quote with a backslash ( \\ ).**

>Let's try that!

In [26]:
# single quotes, second try
'I\'m enjoying this workshop!'

"I'm enjoying this workshop!"

In [27]:
!cat solutions/01_05.py

'I\'m enjoying this workshop!'

As mentioned before, Python tries to handle everything as intuitively as possible. That means strings can be added together.

In [28]:
'We are ' + 'everywhere around the world.'

'We are everywhere around the world.'

Also, strings can even be multiplied by a number.

In [29]:
'Great! 🎉' * 3

'Great! 🎉Great! 🎉Great! 🎉'

In [30]:
'😂' * 50

'😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂'

We can access parts of strings by slicing the string. A character of a string (which is considered as a string of length 1 by Python) using slice, and a substring using slice range. Something important to note:

**!!! Like birthdays, Python starts counting from 0! (It is "zero-indexed")**

(If you're interested why, here's a historical [letter from Dijkstra](https://www.cs.utexas.edu/users/EWD/transcriptions/EWD08xx/EWD831.html) about it.)

![image.png](attachment:image.png)

In [31]:
s = 'I am a Pythonista.'

***Slice***  
We can access characters of a string by referencing the position ("index") numbers within square brackets.

In [32]:
# Selecting the first character of the string s
s[0]

'I'

> Select the last character of the string s

In [33]:
s[-1]

'.'

In [34]:
!cat solutions/01_06.py

s[-1]

***Slice range***  
We can get a range of characters of a string by using a slicing range.

In [35]:
# Select from position 2 up to but not including position 6 of the string s
s[2:6]  # 6 is excluded

'am a'

We can skip the start (resp. stop) number `s[:6]`. Then it start form index 0 (resp. end at the highest index).

>Select the last 3 characters of the string s

In [36]:
s[-3:]

'ta.'

In [37]:
!cat solutions/01_07.py

s[-3:]

We can check if a string contains another string inside of it (a "substring"), using *in* and *not in*.

**!!! Python is case-sensitive! The string `'a'` is not equal to `'A'`***

In [38]:
# Checking if s contains 'python'
print(s)
'python' in s

I am a Pythonista.

False

> Check if s does not contain 'I' (capital i)

In [41]:
'I' not in s

False

In [42]:
!cat solutions/01_08.py

"I" not in s

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Numbers
</h2><br>
</div>

Python has different numerical types. Two of which are used more often than others:
- **Integers:** These are whole numbers, i.e. `1`, `2`, `-5`
- **Floats:** "Floating point" numbers are those with a decimal point, i.e. `3.14158`, `2.5`, `0.1` and even `3.0`.

Python attempts to deal with these numbers intuitively when integers and floats are mixed.

### Basic Operators

**Addition:**  
>Try adding two numbers.

In [43]:
1 + 2

3

In [44]:
!cat solutions/01_09.py

3 + 4

**Subtraction:**
> Try subtracting two numbers.

In [45]:
2 - 9

-7

In [46]:
!cat solutions/01_10.py

10.0 - 6

**Multiplication:**  
The sign for multiplication is *.  
>Try multiplying two numbers.

In [47]:
2 * 9

18

In [48]:
!cat solutions/01_11.py

15 * 12

**Exponent:**  
The sign for exponent (or power) is *`**`*.

> Try the power of an integer.

In [49]:
2 ** 9

512

In [50]:
!cat solutions/01_12.py

2**6

>Try the power of a float

In [51]:
2.0 ** 5

32.0

In [52]:
!cat solutions/01_13.py

3.1**2

>Try the power of an integer written as a float (e.g. 12.0)

In [53]:
12.0 ** 2

144.0

In [54]:
!cat solutions/01_14.py

5.0**2

**Division and modulo**
- The sign for division is **`/`**.
- The sign for floor division is **`//`**. It returns the "quotient" of a division - how many times one number goes into another. ("If a carton holds six eggs, and we have 99 eggs, how many cartons can we fill?")
- The **`%`** sign is the [modulo](https://en.wikipedia.org/wiki/Modulo_operation), which returns the "remainder" after division.

>Divide 6 by 2

In [55]:
6/2

3.0

In [56]:
!cat solutions/01_15.py

6 / 2

>Try the floor division of 6 by 2

In [57]:
6//2

3

In [58]:
!cat solutions/01_16.py

6 // 2

>Divide 19 by 5

In [59]:
19/5

3.8

In [60]:
!cat solutions/01_17.py

19 / 5

*Note*: division returns a float.

**The floor division returns an int, the non-fractional part.**  
>Try the floor division of 19 by 5

In [61]:
19//5

3

In [62]:
!cat solutions/01_18.py

19 // 5

**Modulo returns the remainder of the division**

>Calculate 19 modulo 5

In [63]:
19%5

4

In [64]:
!cat solutions/01_19.py

19 % 5

**--> 19 = 3 * 5 + 4**

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Order of operations
</h2><br>
</div>

The order of operations in Python respects the usual rules of mathematics (brackets -> powers -> division/multiplication -> add/subtract). **If in doubt, use brackets** to make it clear (to yourself, and anyone who might be reading your code) what you're trying to do.

In [65]:
5 + 6 * 10

65

In [66]:
(5 + 6) * 10

110

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Booleans
</h2><br>
</div>

Booleans are the two constant values `True` and `False`. The numerical value of 'True is '1' and the numerical value of 'False' is '0'. These values are especially important for comparisons, therefore, we'll also learn about a new operator:

**`==`** is an equality operator,  different from **`=`** which is the assignment operator you used to assign variables.

In [67]:
True == 1  # '==' is an equality operator,  different from '=' which is an assignment operator

True

In [68]:
False * 3

0

Using **`!=`** , check if `False` is not equal to `2`.

In [69]:
False != 2

True

In [ ]:
# !cat solutions/01_20.py

>Check if the length of your name is greater than 8.

In [70]:
len('zhongju li') < 8

False

In [71]:
!cat solutions/01_21.py

len("Sandrine") > 8

We can use `and` and `or` operators with booleans in Python. Type them below and see how the color of the text changes, because Python recognises the keyword! These can be used to chain together multiple comparisons. These follow mathematical logic.

| A     | B     | A and B | A or B |
| :---  | :---  | :---    | :---   |
| True  | True  | True    | True   |
| True  | False | False   | True   |
| False | True  | False   | True   |
| False | False | False   | False  |

> Check if the length of your name is greater than 5 and the length of your mentor's name is less than 7.

In [72]:
len('Zhongju Li') > 5 and len('Ramon') < 7

True

In [ ]:
# !cat solutions/01_22.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Lists
</h2><br>
</div>

A list is a list of comma-separated values between square brackets.

The items of a list can have different types.

In [73]:
list_greeting = ['Hallo', 'Bonjour', 10, 'Hello', 'Ciao', False]

We can access a single value using a slice, and several values using slice range. Check the "string slicing" section above for this.

>Get the first item of the list.

In [74]:
list_greeting[0]

'Hallo'

In [75]:
!cat solutions/01_23.py

list_greeting[0]

Get every the items from the list, starting with the 4th one.

Note that there is no need to put a number after the colon when when want to select until the end of the list.

>Get the items starting with the one with index 3 until the end of the list.

In [78]:
list_greeting[3:]

['Hello', 'Ciao', False]

In [77]:
!cat solutions/01_24.py

list_greeting[3:]

**Get the items from the list until the 4th one.**

>Get the items from the beginning of the list until the value with index 4 (index 4 is excluded).

In [79]:
list_greeting[:4]

['Hallo', 'Bonjour', 10, 'Hello']

In [80]:
!cat solutions/01_25.py

list_greeting[:4]

**Advanced slicing allows us to set how the list's index will increment between the start/stop indexes we select.**  
The slicing then looks like this: [start:stop:step]  
For example, if we want to select every third items of a list, we will set the step as 3.

>Get every other items from the list of greetings

In [83]:
list_greeting[:3:]

['Hallo', 'Bonjour', 10]

In [84]:
list_greeting[::2]

['Hallo', 10, 'Ciao']

In [85]:
list_greeting

['Hallo', 'Bonjour', 10, 'Hello', 'Ciao', False]

In [82]:
!cat solutions/01_26.py

list_greeting[::2]

**We can update a list by re-assigning a value selected using a slice.**  
For example, we can replace False with 'Ave' in list_greeting.

In [86]:
list_greeting[-1] = 'Ave'
print(list_greeting)

['Hallo', 'Bonjour', 10, 'Hello', 'Ciao', 'Ave']

>Replace 10 with Hola in list_greetings, then print list_greeting to check it.

In [87]:
list_greeting[2] = 'Hola'
print(list_greeting)

['Hallo', 'Bonjour', 'Hola', 'Hello', 'Ciao', 'Ave']

In [88]:
!cat solutions/01_27.py

list_greeting[2] = "Ola"
print(list_greeting)

We can have lists inside a list, these are often called "nested lists":

In [89]:
list_of_lists = [[1, 2, 3], [4, 5]]

In [90]:
list_of_lists[0]  # access the first element of the list, which is a list.

[1, 2, 3]

In [91]:
list_of_lists[0][-1]  # access the last element of the first list.

3

We can concatenate lists using ' + '.

In [92]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

We can also use the multiplication to repeat values in a list (only works with integers).

In [93]:
['Hey'] * 5

['Hey', 'Hey', 'Hey', 'Hey', 'Hey']

We can also use `in` / `not in` with lists.

>Check if `10` is in `list_greeting`.

In [95]:
10 in list_greeting

False

In [96]:
!cat solutions/01_28.py

10 in list_greeting

>Check if 'Ole' is not in list_greeting.

In [97]:
'Ole' not in list_greeting

True

In [98]:
!cat solutions/01_29.py

"Ole" not in list_greeting

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Built-in functions
</h2><br>
</div>

You've seen your first function at the very beginning of this notebook, i.e. `print("Hello World")`. Functions are a way for you to write reusable code. In the case before `print()` is Python's way for you to show an output you provide. However, there are many other useful functions that Python comes with, that are provided by other libraries, or written by you yourself to save you from repeating some code.

The functions that are always available in Python can be found here:
https://docs.python.org/3/library/functions.html

>Print *'Here we are!'*.

In [100]:
print('Here we are!')

Here we are!

In [101]:
!cat solutions/01_30.py

print("Here we are!")

>Compute the length of the string variable `snakes`.

In [102]:
snakes = "🐍🐍🐍🐍🐍🐍🐍🐍🐍🐍🐍🐍🐍🐍🐍🐍🐍🐍🐍🐍🐍🐍🐍🐍🐍🐍🐍🐍🐍🐍🐍🐍🐍🐍🐍🐍🐍🐍🐍🐍🐍🐍"

In [103]:
len(snakes)

42

In [104]:
!cat solutions/01_31.py

len(snakes)

>Compute the length of list_greeting.

In [105]:
len(list_greeting)

6

In [106]:
!cat solutions/01_32.py

len(list_greeting)

>Work out the maximum of 1, 2, 3, 4 and 5.

In [107]:
max([1, 2, 3, 4, 5])

5

In [108]:
!cat solutions/01_33.py

max(1, 2, 3, 4, 5)

>Round the number 123.45 to the nearest integer.

In [109]:
round(123.45)

123

In [110]:
!cat solutions/01_34.py

round(123.45)

>Round the number 123.45 to 1 decimal place.

In [111]:
round(123.45, ndigits = 1)

123.5

In [112]:
!cat solutions/01_35.py

round(123.45, 1)

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Methods
</h2><br>
</div>

A method is a function associated to an object. Basically, it provides a way for an object to know functions about themselves.

For example, we can change the string `s` to upper case using the `.upper()` method.

In [113]:
s.upper()

'I AM A PYTHONISTA.'

>Using the append method, add 'Aloha' to list_greeting.

In [115]:
list_greeting.append('Aloha')

In [116]:
!cat solutions/01_36.py

list_greeting.append("Aloha")

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Importing modules
</h2><br>
</div>

We can import modules (Python code that can define functions, classes and variables).

Usually, we write all the imports at the beginning of a Python program or notebook.

**A small warning**  
Ensure you trust the packages you're installing!

Ask:
1. Who wrote this code?
2. Do I trust giving their code access to my computer?
3. `pip install` especially can be a little more dangerous, anyone can upload something to the Python Package Index ("PyPI" for short), which is where `pip` installs from. So be very careful especially as the smallest typo can be a security risk!
4. `conda install` is more of a walled garden and as such better positioned for enterprise usage.

> From the **math** library, import **sqrt** to work out the square root of **24 336**.

In [117]:
from math import sqrt
sqrt(24336)

156.0

In [118]:
!cat solutions/01_37.py

from math import sqrt

sqrt(24336)

Python programmers really are lazy! (Or obsessive about productivity, take your pick!)

Hence, you can define aliases for imports. The `as np` is two characters long, whereas `numpy` is five. It's less to type, when you write long programs.

> Import `numpy as np` and try **`np.sin(np.pi/4)`**.

In [119]:
import numpy as np
np.sin(np.pi/4)

np.float64(0.7071067811865475)

In [120]:
!cat solutions/01_38.py

import numpy as np

np.sin(np.pi / 4)

---

# 🎉 Congratulations, you made it to the end of Notebook 1! 🎉
Take a well deserved break, brew a relaxing beverage of your choice or go have a snack, maybe share a picture of your snack/drink in the #random channel, we love to see pictures from everyone attending around the world. ☕️

![](https://media0.giphy.com/media/3otPoS81loriI9sO8o/200.gif)