<div class="alert alert-block alert-info" style="background-color: #301E40; border: 0px; -moz-border-radius: 10px; -webkit-border-radius: 10px;">
<br/><br/>
<h1 style="font-size: 45px; color: white; align: center;"><center>
<img src="https://raw.githubusercontent.com/HumbleData/beginners-data-workshop/master/media/humble-data-logo-white-transparent.png" width="250px" /><br/><br/>
Data Analysis with Pandas
</center></h1>
</div>

> ***Note***: This notebook contains solution cells with ***a*** solution. Remember there is not only one solution to a problem!  
>
> You will recognise these cells as they start with **# %**.  
>
> If you would like to see the solution, you will have to remove the **#** (which can be done by using **Ctrl** and **?**) and run the cell. If you want to run the solution code, you will have to run the cell again.

In [4]:
!git clone https://github.com/HumbleData/beginners-data-workshop.git
!cp -r beginners-data-workshop/media/ .
!cp -r beginners-data-workshop/data/ .
!cp -r beginners-data-workshop/solutions/ .
!rm -r beginners-data-workshop/

Cloning into 'beginners-data-workshop'...
remote: Enumerating objects: 951, done.
remote: Counting objects: 100% (943/943), done.
remote: Compressing objects: 100% (372/372), done.
remote: Total 951 (delta 434), reused 871 (delta 391), pack-reused 8 (from 1)
Receiving objects: 100% (951/951), 4.58 MiB | 26.51 MiB/s, done.
Resolving deltas: 100% (434/434), done.

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Data analysis packages
</h2><br>
</div>

Data Scientists use a wide variety of libraries in Python that make working with data significantly easier. Those libraries primarily consist of:

| Package | Description |
| -- | -- |
| `NumPy` | Numerical calculations - does all the heavy lifting by passing out to C subroutines. This means you get _both_ the productivity of Python, _and_ the computational power of C. Best of both worlds! |
| `SciPy` | Scientific computing, statistic tests, and much more! |
| `pandas` | Your data manipulation swiss army knife. You'll likely see pandas used in any PyData demo! pandas is built on top of NumPy, so it's **fast**. |
| `matplotlib` | An old but powerful data visualisation package, inspired by Matlab. |
| `Seaborn` | A newer and easy-to-use but limited data visualisation package, built on top of matplotlib. |
| `scikit-learn` | Your one-stop machine learning shop! Classification, regression, clustering, dimensional reduction and more. |
| `nltk` and `spacy` | nltk = natural language processing toolkit; spacy is a newer package for natural language processing but very easy to use. |
| `statsmodels` | Statistical tests, time series forecasting and more. The "model formula" interface will be familiar to R users. |
| `requests` and `Beautiful Soup` | `requests` + `Beautiful Soup` = great combination for building web scrapers. |
| `Jupyter` | Jupyter itself is a package too. See the latest version at https://pypi.org/project/jupyter/, and upgrade with e.g. `conda install jupyter==1.0.0` |

Though there are countless others available.

For today, we'll primarily focus ourselves around the library that is 99% of our work: `pandas`. Pandas is built on top of the speed and power of NumPy.

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Imports
</h2><br>
</div>

In [5]:
import pandas as pd

>Import numpy using the convention seen at the end of the first notebook.

In [6]:
import numpy as np

In [4]:
!cat solutions/02_01.py

import numpy as np

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Loading the data
</h2><br>
</div>

To see a method's documentation, you can use the help function. In Jupyter, you can also just put a question mark before the method.

In [5]:
?pd.read_csv

To load the dataframe we are using in this notebook, we will provide the path to the file: ../data/Penguins/penguins.csv

>Load the dataframe, read it into a pandas DataFrame and assign it to df

In [7]:
df = pd.read_csv('data/Penguins/penguins.csv')

In [ ]:
# !cat solutions/02_02.py

**To have a look at the first 5 rows of df, we can use the *head* method.**

In [8]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

>Have a look at the last 3 rows of df using the tail method

In [10]:
df.tail(3)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
352,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
353,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
354,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [12]:
!cat solutions/02_03.py

df.tail(3)

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
General information about the dataset
</h2><br>
</div>

**To get the size of the datasets, we can use the *shape* attribute.**  
The first number is the number of row, the second one the number of columns

>Show the shape of df (do not put brackets at the end)

In [11]:
df.shape

(355, 7)

In [12]:
!cat solutions/02_04.py

df.shape

>Get the names of the columns and info about them (number of non null and type) using the info method.

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355 entries, 0 to 354
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            348 non-null    object
 1   island             348 non-null    object
 2   bill_length_mm     346 non-null    float64
 3   bill_depth_mm      346 non-null    float64
 4   flipper_length_mm  346 non-null    float64
 5   body_mass_g        346 non-null    float64
 6   sex                337 non-null    object
dtypes: float64(4), object(3)
memory usage: 19.5+ KB

In [17]:
!cat solutions/02_05.py

df.info()

>Get the columns of the dataframe using the columns attribute.

In [14]:
df.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

In [21]:
!cat solutions/02_06.py

df.columns

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Display settings
</h2><br>
</div>

We can check the display option of the notebook.

In [15]:
pd.options.display.max_rows

60

>Force pandas to display 25 rows by changing the value of the above.

In [16]:
pd.options.display.max_rows = 25

In [24]:
!cat solutions/02_07.py

pd.options.display.max_rows = 25

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Subsetting data
</h2><br>
</div>

We can subset a dataframe by label, by index or a combination of both.  
There are different ways to do it, using .loc, .iloc and also [].  
See [documentation ](https://pandas.pydata.org/pandas-docs/stable/indexing.html).

>Display the 'bill_length_mm' column

In [17]:
df['bill_length_mm']

0      39.1
1      39.5
2      40.3
3       NaN
4       NaN
       ...
350    46.8
351    50.4
352    45.2
353    45.2
354    49.9
Name: bill_length_mm, Length: 355, dtype: float64

In [26]:
!cat solutions/02_08.py

df["bill_length_mm"]

*Note:* We could also use `df.bill_length_mm`, but it's not the greatest idea because it could be mixed with methods and does not work for columns with spaces.

>Have a look at the 12th observation:

In [18]:
# using .iloc (uses positions, "i" stands for integer)
df.iloc[11]

species                 Adelie
island               Torgersen
bill_length_mm            37.8
bill_depth_mm             17.1
flipper_length_mm        186.0
body_mass_g             3300.0
sex                        NaN
Name: 11, dtype: object

In [19]:
!cat solutions/02_09.py

df.iloc[11]

In [20]:
# using .loc (uses indexes and labels)
df.loc[11, 'bill_length_mm']

np.float64(37.8)

In [21]:
df.loc[11]

species                 Adelie
island               Torgersen
bill_length_mm            37.8
bill_depth_mm             17.1
flipper_length_mm        186.0
body_mass_g             3300.0
sex                        NaN
Name: 11, dtype: object

In [35]:
!cat solutions/02_10.py

df.loc[11]

>Display the **bill_length_mm** of the last three observations.

In [22]:
# using .iloc
df.iloc[-3:]['bill_length_mm']

352    45.2
353    45.2
354    49.9
Name: bill_length_mm, dtype: float64

In [40]:
!cat solutions/02_11.py

df.iloc[-3:, 2]

In [23]:
df.iloc[-3:, 2]

352    45.2
353    45.2
354    49.9
Name: bill_length_mm, dtype: float64

In [24]:
# using .loc
df.loc[-3:, 'bill_length_mm']

0      39.1
1      39.5
2      40.3
3       NaN
4       NaN
       ...
350    46.8
351    50.4
352    45.2
353    45.2
354    49.9
Name: bill_length_mm, Length: 355, dtype: float64

In [43]:
!cat solutions/02_12.py

df.loc[341:, "bill_length_mm"]

In [25]:
df.loc[341:, 'bill_length_mm']

341    49.8
342    43.5
343    51.5
344    46.2
345    55.1
346    44.5
347    48.8
348    47.2
349     NaN
350    46.8
351    50.4
352    45.2
353    45.2
354    49.9
Name: bill_length_mm, dtype: float64

And finally look at the **flipper_length_mm** and **body_mass_g** of the 146th, the 8th and the 1rst observations:

In [26]:
# using .iloc
df.iloc[145]['flipper_length_mm']
df.iloc[7]['flipper_length_mm']
df.iloc[0]['flipper_length_mm']

df.iloc[145]['body_mass_g']
df.iloc[7]['body_mass_g']
df.iloc[0]['body_mass_g']

np.float64(3750.0)

In [ ]:
# !cat solutions/02_13.py

In [55]:
df.iloc[[145, 7, 0]]['flipper_length_mm', 'body_mass_g']

KeyError: ('flipper_length_mm', 'body_mass_g')

In [27]:
df.iloc[[145, 7, 0]][['flipper_length_mm', 'body_mass_g']]

     flipper_length_mm  body_mass_g
145              193.0       3400.0
7                181.0       3625.0
0                181.0       3750.0

In [31]:
# using .loc
df.loc[[145, 7, 0], ['flipper_length_mm', 'body_mass_g']]

     flipper_length_mm  body_mass_g
145              193.0       3400.0
7                181.0       3625.0
0                181.0       3750.0

In [29]:
!cat solutions/02_14.py

df.loc[[145, 7, 0], ["flipper_length_mm", "body_mass_g"]]

**!!WARNING!!**  Unlike Python and ``.iloc``, the end value in a range specified by ``.loc`` **includes** the last index specified.

In [32]:
df.iloc[5:10]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
6,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
7,Adelie,Torgersen,38.9,17.8,181.0,3625.0,Female
8,Adelie,Torgersen,39.2,19.6,195.0,4675.0,Male
9,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN

In [33]:
df.loc[5:10]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
6,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
7,Adelie,Torgersen,38.9,17.8,181.0,3625.0,Female
8,Adelie,Torgersen,39.2,19.6,195.0,4675.0,Male
9,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
10,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Filtering data on conditions
</h2><br>
</div>

**We can also use condition(s) to filter.**  
We want to display the rows of df where **body_mass_g** is greater than 4000. We will start by creating a mask with this condition.

In [34]:
mask_PW = df['body_mass_g'] > 4000
mask_PW

0      False
1      False
2      False
3      False
4      False
       ...
350     True
351     True
352     True
353     True
354     True
Name: body_mass_g, Length: 355, dtype: bool

Note that this return booleans. If we pass this mask to our dataframe, it will display only the rows where the mask is True.

In [35]:
df[mask_PW]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
8,Adelie,Torgersen,39.2,19.6,195.0,4675.0,Male
10,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN
15,Adelie,Torgersen,34.6,21.1,198.0,4400.0,Male
18,Adelie,Torgersen,42.5,20.7,197.0,4500.0,Male
20,Adelie,Torgersen,46.0,21.5,194.0,4200.0,Male
...,...,...,...,...,...,...,...
350,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
351,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
352,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
353,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
354,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

>Display the rows of df where **body_mass_g** is greater than 4000 and **flipper_length_mm** is less than 185.

In [54]:
c1 = df['body_mass_g'] > 4000
c2 = df['flipper_length_mm'] < 185
# df[(df['body_mass_g'] > 4000 & df['flipper_length_mm'] < 185)]
df[(df['body_mass_g'] > 4000) & (df['flipper_length_mm'] < 185)]
#' if you don't put this into a ()

# df[c1&c2]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
41,Adelie,Dream,39.8,19.1,184.0,4650.0,Male

In [49]:
!cat solutions/02_15.py

mask_PW_PL = (df["body_mass_g"] > 4000) & (df["flipper_length_mm"] < 185)
df[mask_PW_PL]

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Values
</h2><br>
</div>

We can get the number of unique values from a certain column by using the `nunique` method.

For example, we can get the number of unique values from the species column:

In [55]:
df['species'].nunique()

3

We can also get the list of unique values from a certain column by using the `unique` method.
>Return the list of unique values from the species column

In [56]:
df['species'].unique()

array(['Adelie', nan, 'Chinstrap', 'Gentoo'], dtype=object)

In [57]:
!cat solutions/02_16.py

df["species"].unique()

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Null Values and NaN
</h2><br>
</div>

When you work with data, you will quickly learn that data is never "clean". These values are usually referred to as null value. In computation it is best practice to define a "special number" that is "**N**ot **a** **N**umber" also called NaN.

We can use the `isnull` method to know if a value is null or not. It returns boolean values.

In [58]:
df['flipper_length_mm'].isnull()

0      False
1      False
2      False
3       True
4       True
       ...
350    False
351    False
352    False
353    False
354    False
Name: flipper_length_mm, Length: 355, dtype: bool

**We can apply different methods one after the other.**.  
For example, we could apply to method `sum` after the method `isnull` to know the number of null observations in the **flipper_length_mm** column.
>Get the total number of null values for **flipper_length_mm**.

In [59]:
df['flipper_length_mm'].isnull().sum()

np.int64(9)

In [60]:
!cat solutions/02_17.py

df["flipper_length_mm"].isnull().sum()

To get the count of the different values of a column, we can use the `value_counts` method.

For example, for the species column:

In [61]:
df['species'].value_counts()

species
Adelie       153
Gentoo       126
Chinstrap     69
Name: count, dtype: int64

If we want to know the count of NaN values, we have to pass the value `False` to the parameter **dropna** (set to `True` by default).
> Return the proportion for each sex, including the NaN values."

In [63]:
df['sex'].value_counts(dropna = False)

sex
Male      169
Female    168
NaN        18
Name: count, dtype: int64

In [ ]:
# !cat solutions/02_18.py

To get the proportion instead of the count of these values, we have to pass the value `True` to the parameter **normalize**.
>Return the proportion for each species.

In [65]:
df['species'].value_counts(normalize = True)

species
Adelie       0.439655
Gentoo       0.362069
Chinstrap    0.198276
Name: proportion, dtype: float64

In [66]:
!cat solutions/02_19.py

df["species"].value_counts(normalize=True)

>Using the index attribute, get the indexes of the observation without **flipper_length_mm**

In [76]:
df[df['flipper_length_mm'].isnull()].index

Index([3, 4, 59, 101, 131, 185, 239, 339, 349], dtype='int64')

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (<ipython-input-71-01440d47d6c2>, line 1)

In [74]:
!cat solutions/02_20.py

df[df["flipper_length_mm"].isnull()].index

Use the **[dropna](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html)** method to remove the row which only has NaN values.
>Get the help for the dropna method.

In [77]:
df.dropna()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
6,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
...,...,...,...,...,...,...,...
350,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
351,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
352,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
353,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
354,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [78]:
!cat solutions/02_21.py

?pd.DataFrame.dropna

>Use the dropna method to remove the row of `df` where all of the values are NaN, and assign it to `df_2`.

In [ ]:
df.dropna()

In [81]:
df_2 = df.dropna(how = 'all')

In [80]:
!cat solutions/02_22.py

df_2 = df.dropna(how="all")

We can use a f-string to format a string. We have to write a `f` before the quotation mark, and write what you want to format between curly brackets.

In [82]:
print(f'shape of df: {df.shape}')

shape of df: (355, 7)

> Print the number of rows of `df_2` using a f_string. Did we lose any rows between `df` and `df_2`? If not, why not?

In [83]:
print(f'shape of df2: {df_2.shape}')

shape of df2: (348, 7)

In [84]:
!cat solutions/02_23.py

print(f"number of rows of df_2: {df_2.shape[0]}")

>Use the dropna method to remove the rows of `df_2` which contains any NaN values, and assign it to `df_3`

In [85]:
df_3 = df.dropna()

In [86]:
!cat solutions/02_24.py

df_3 = df_2.dropna(how="any")

>Print the number of rows of `df_3` using a f_string.

In [87]:
print(f'number of rows of df_3: {df_3.shape[0]}')

number of rows of df_3: 337

In [88]:
!cat solutions/02_25.py

print(f"number of rows of df_3: {df_3.shape[0]}")

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Duplicates
</h2><br>
</div>

>Remove the duplicates rows from `df_3`, and assign the new dataframe to `df_4`

In [89]:
df_4 = df_3.drop_duplicates()

In [90]:
!cat solutions/02_26.py

df_4 = df_3.drop_duplicates()

In [91]:
# checking the shape of df_4
df_4.shape

(333, 7)

You should see that 4 rows have been dropped.

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Some stats
</h2><br>
</div>

>Use the describe method to see how the data is distributed (numerical features only!)

In [92]:
df_4.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      333.000000     333.000000         333.000000   333.000000
mean        43.992793      17.164865         200.966967  4207.057057
std          5.468668       1.969235          14.015765   805.215802
min         32.100000      13.100000         172.000000  2700.000000
25%         39.500000      15.600000         190.000000  3550.000000
50%         44.500000      17.300000         197.000000  4050.000000
75%         48.600000      18.700000         213.000000  4775.000000
max         59.600000      21.500000         231.000000  6300.000000

In [93]:
!cat solutions/02_27.py

df_4.describe()

We can also change the **species** column to save memory space. Note: You may receive a **SettingWithCopyWarning** - you can safely ignore this error for this notebook.

In [94]:
df_4['species'] = df_4['species'].astype('category')

<ipython-input-94-c426deb8bc2d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_4['species'] = df_4['species'].astype('category')

In [97]:
df_4.dtypes

species              category
island                 object
bill_length_mm        float64
bill_depth_mm         float64
flipper_length_mm     float64
body_mass_g           float64
sex                    object
dtype: object

>Using the dtypes attribute, check the types of the columns of `df_4`

In [98]:
!cat solutions/02_28.py

df_4.dtypes

We can also use the functions count(), mean(), sum(), median(), std(), min() and max() separately if we are only interested in one of those.

>Get the minimum for each numerical column of `df_4`

In [113]:
df_4.iloc[:, 2:6].min()

bill_length_mm         32.1
bill_depth_mm          13.1
flipper_length_mm     172.0
body_mass_g          2700.0
dtype: float64

In [114]:
!cat solutions/02_29.py

df_4.min(numeric_only=True)

>Calculate the maximum of the **flipper_length_mm**

In [115]:
df['flipper_length_mm'].max()

231.0

In [116]:
!cat solutions/02_30.py

df_4["flipper_length_mm"].max()

We can also get information for each species using the `groupby` method.


> Get the median for each **species**.

In [120]:
df.groupby('species').median(numeric_only =True)

           bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
species
Adelie               38.8           18.4              190.0       3700.0
Chinstrap            49.5           18.4              196.0       3700.0
Gentoo               47.3           15.0              216.0       5050.0

In [121]:
!cat solutions/02_31.py

df_4.groupby("species").median(numeric_only=True)

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Saving the dataframe as a csv file
</h2><br>
</div>

>Save df_4 using this path: `'data/Penguins/my_penguins.csv'`

In [123]:
df_4.to_csv('data/Penguins/my_penguins.csv')

In [124]:
!cat solutions/02_32.py

df_4.to_csv("../data/Penguins/my_penguins.csv")