<div class="alert alert-block alert-info" style="background-color: #301E40; border: 0px; -moz-border-radius: 10px; -webkit-border-radius: 10px;">
<br/><br/>
<h1 style="font-size: 45px; color: white; align: center;"><center>
<img src="https://raw.githubusercontent.com/HumbleData/beginners-data-workshop/master/media/humble-data-logo-white-transparent.png" width="250px" /><br/><br/>
More pandas
</center></h1>
</div>

In [1]:
!git clone https://github.com/HumbleData/beginners-data-workshop.git
!cp -r beginners-data-workshop/media/ .
!cp -r beginners-data-workshop/data/ .
!cp -r beginners-data-workshop/solutions/ .
!rm -r beginners-data-workshop/

Cloning into 'beginners-data-workshop'...
remote: Enumerating objects: 951, done.
remote: Counting objects: 100% (943/943), done.
remote: Compressing objects: 100% (372/372), done.
remote: Total 951 (delta 434), reused 871 (delta 391), pack-reused 8 (from 1)
Receiving objects: 100% (951/951), 4.58 MiB | 8.41 MiB/s, done.
Resolving deltas: 100% (434/434), done.

***Note***: this notebook contains cell with ***a*** solution. Remember there is not only one solution to a problem!  

You will recognise these cells as they start with **# %**.  

If you would like to see the solution, you will have to remove the **#** (which can be done by using **Ctrl** and **?**) and run the cell. If you want to run the solution code, you will have to run the cell again.

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Exercise
</h2><br>
</div>


> 1. Import pandas (with the mostly used convention seen in notebook 2).  
> 2. Import datetime.  
> 3. Import matplotlib (as shown in notebook 3.1).  
> 4. Add the magic command to show the plot in Jupyter.

In [2]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
 !cat solutions/05_01.py

import datetime

import matplotlib.pyplot as plt
import pandas as pd

%matplotlib inline

In this notebook, we are going to use data provided by the [UK government](https://data.gov.uk/dataset/a59198d9-2e24-4816-be1b-c3a1efa02dda/better-training-for-safer-food). It is provided under the [Open Government Licence](http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/).

>Load the data of the year 2014 and assign it to df_2014 (path: 'data/food_training/training_2014.csv')

In [7]:
df_2014 = pd.read_csv('data/food_training/training_2014.csv')

In [8]:
 !cat solutions/05_02.py

df_2014 = pd.read_csv("../data/food_training/training_2014.csv")

>Have a look at the first rows of df_2014

In [10]:
df_2014.head(1)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,CourseName,Location,DateFrom,DateTo,Attendees,NaN,NaN

In [ ]:
# !cat solutions/05_03.py

You can see that the header are not at the right place.  
If you have a look at the documentation, you will see that the *header* parameter of the read_csv method is set to *infer*. It will infer the header using the first row (which has the index *0*).

>Load the data of the year 2104 using the header parameter and assign it to df_2014 (it will be overwritten)

In [17]:
df_2014 = pd.read_csv('data/food_training/training_2014.csv', header = 1)

In [19]:
!cat solutions/05_04.py

df_2014 = pd.read_csv("../data/food_training/training_2014.csv", header=1)

>Have a look at the first rows of df_2014. Looks better, isn't it?

In [22]:
df_2014.head()

,CourseName,Location,DateFrom,DateTo,Attendees,Unnamed: 5,Unnamed: 6
0,Risk Assessment (Pest),lisbon;Portugal,2015-01-12,2015-01-16,1,NaN,NaN
1,Organic Farming,Bristol,2015-01-19,2015-01-22,2,NaN,NaN
2,Prevention Control and Eradication of Transmis...,Ljubljana;Slovenia,2015-01-20,2015-01-23,2,NaN,NaN
3,Contingency Planning,Padua,2015-01-26,2015-01-30,2,NaN,NaN
4,HACCP,Rome,2015-02-02,2015-02-06,2,NaN,NaN

In [20]:
!cat solutions/05_05.py

df_2014.head()

>Load the data for the years 2015 and 2016 and assign them to df_2015 and df_2016 (don't forget the parameter!)

In [23]:
df_2015 = pd.read_csv('data/food_training/training_2015.csv', header = 1)
df_2016 = pd.read_csv('data/food_training/training_2016.csv', header = 1)

In [24]:
 !cat solutions/05_06.py

df_2015 = pd.read_csv("../data/food_training/training_2015.csv", header=1)
df_2016 = pd.read_csv("../data/food_training/training_2016.csv", header=1)

In [25]:
df_2015.head()

,CourseName,Location,DateFrom,DateTo,Attendees,Unnamed: 5,Unnamed: 6
0,Food Hygiene and Flexibility,Vilnius,2015-04-12,2015-04-17,2,NaN,NaN
1,Plant Health Risks,Milan;Italy,2015-04-13,2015-04-16,1,NaN,NaN
2,New Investigative Techniques,Madrid,2015-04-13,2015-04-16,2,NaN,NaN
3,Foodborne Outbreaks Investigations,Lisbon,2015-04-13,2015-04-17,2,NaN,NaN
4,Food Hygiene at Primary Production (Plants),Budapest,2015-04-13,2015-04-17,2,NaN,NaN

In [26]:
df_2016.head()

,CourseName,Location,DateFrom,DateTo,Attendees,Unnamed: 5,Unnamed: 6
0,Food Composition and Information,Valencia;Spain,2016-04-04,2016-04-08,2,NaN,NaN
1,HACCP,Dublin;Ireland,2016-04-04,2016-04-08,3,NaN,NaN
2,Food Hygiene and Flexibility,Vilnius;Lithuania,2016-04-04,2016-04-08,2,NaN,NaN
3,Foodborne Outbreaks Investigations,Berlin,2016-04-04,2016-04-08,2,NaN,NaN
4,Traces (USE AT IMPORT OF LIVE ANIMALS AND PROD...,Alicante;Spain,2016-04-05,2016-04-08,1,NaN,NaN

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Concatenate
</h2><br>
</div>

Pandas have a good page with documentation about [merge, join and concatenation](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html).

>Using the documentation, concatenate the 3 dataframe into one, named df.

In [188]:
df_base = [df_2014, df_2015, df_2016]
df = pd.concat(df_base)
df.head()

,CourseName,Location,DateFrom,DateTo,Attendees,Unnamed: 5,Unnamed: 6
0,Risk Assessment (Pest),lisbon;Portugal,2015-01-12,2015-01-16,1,NaN,NaN
1,Organic Farming,Bristol,2015-01-19,2015-01-22,2,NaN,NaN
2,Prevention Control and Eradication of Transmis...,Ljubljana;Slovenia,2015-01-20,2015-01-23,2,NaN,NaN
3,Contingency Planning,Padua,2015-01-26,2015-01-30,2,NaN,NaN
4,HACCP,Rome,2015-02-02,2015-02-06,2,NaN,NaN

In [29]:
!cat solutions/05_07.py

frames = [df_2014, df_2015, df_2016]
df = pd.concat(frames)

>check the shape of df

In [30]:
df.shape

(266, 7)

In [31]:
 !cat solutions/05_08.py

df.shape

In [33]:
df_2014.shape

(28, 7)

In [34]:
df_2015.shape

(122, 7)

In [35]:
df_2016.shape

(116, 7)

>Look at the indices of df using the index attribute.

In [36]:
df.index

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       106, 107, 108, 109, 110, 111, 112, 113, 114, 115],
      dtype='int64', length=266)

In [37]:
 !cat solutions/05_09.py

df.index

We can see that the index is not going from 0 to 265 with a step of 1...
> Clear the existing index and reset it using the ***reset_index*** method.  
> Check df's index.

In [189]:
df =  df.reset_index()

In [58]:
df.index

RangeIndex(start=0, stop=266, step=1)

In [59]:
!cat solutions/05_10.py

df = df.reset_index()
df.index

# We could also have done the following when concatenating:
# df = pd.concat(frames, ignore_index=True)

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Dropping columns
</h2><br>
</div>

>Show the information relative to df's columns.

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       266 non-null    int64
 1   CourseName  266 non-null    object
 2   Location    266 non-null    object
 3   DateFrom    266 non-null    object
 4   DateTo      266 non-null    object
 5   Attendees   266 non-null    int64
 6   Unnamed: 5  0 non-null      float64
 7   Unnamed: 6  0 non-null      float64
dtypes: float64(2), int64(2), object(4)
memory usage: 16.8+ KB

In [62]:
 !cat solutions/05_11.py

df.info()

We can see that the last two columns are completely empty, so we will drop them.

>Get the help for the drop method (if you prefer, you can search for the documentation on internet).

In [190]:
df = df.dropna(axis = 1, how = 'all')

In [67]:
!cat solutions/05_12.py

?pd.DataFrame.drop

You can see that the default value for *axis* is *0*. When it is the case, the method will look at the rows (i.e. *axis 0*) of the dataframe.  
In our case, we want to drop columns (i.e. *axis 1*).

>Drop the last two columns of df.  
>labels: provide a list with the column's names  
>Don't forget the axis!

In [191]:
df.drop(axis = 1, labels = ['x', 'y'])

KeyError: "['x', 'y'] not found in axis"

In [69]:
 !cat solutions/05_13.py

cols_to_remove = ["Unnamed: 5", "Unnamed: 6"]
df = df.drop(cols_to_remove, axis=1)

In [68]:
df.head()

,index,CourseName,Location,DateFrom,DateTo,Attendees
0,0,Risk Assessment (Pest),lisbon;Portugal,2015-01-12,2015-01-16,1
1,1,Organic Farming,Bristol,2015-01-19,2015-01-22,2
2,2,Prevention Control and Eradication of Transmis...,Ljubljana;Slovenia,2015-01-20,2015-01-23,2
3,3,Contingency Planning,Padua,2015-01-26,2015-01-30,2
4,4,HACCP,Rome,2015-02-02,2015-02-06,2

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Text data
</h2><br>
</div>

To [work with text data](https://pandas.pydata.org/pandas-docs/version/0.23.4/text.html), We will have to use the ***str*** attribute to access the methods (e.g. df['col'].str.replace('-', ' ')).  
We will have to use this attribute in different cases, but before that we will look at the Location column.  
>Display the unique values of the Location column.

In [70]:
df['Location'].unique()

array(['lisbon;Portugal', 'Bristol', 'Ljubljana;Slovenia', 'Padua',
       'Rome', 'Parma', 'Lisbon', 'Munich', 'Murcia', 'Amsterdam',
       'Venice', 'Athens', 'Warsaw', 'Berlin', 'Lyon', 'Antwerp', 'Graz',
       'Barcelona', ' Budapest', 'Madrid', 'Vilnius', 'Milan;Italy',
       'Budapest', 'Trim; Ireland ', 'Grange;Ireland', 'Riga',
       'Zagreb;Croatia', 'Genoa', 'Tallinn', 'Padua;Italy',
       'Coimbra;Portugal', 'Valencia', 'Bratislava;Slovakia',
       'Felixstowe;United Kingdom', 'Maribor', 'Unknown;France', 'Krakow',
       'Prague', 'Bremen', 'Rotterdam;Netherlands', 'Munich;Germany',
       'Unknown;Denmark', 'Vienna;Austria', 'Trim;Ireland',
       'Marseille;France', 'Venice/Udine; Italy ', 'Dusseldorf;Germany',
       'Maribor;Slovenia', 'Cardiff', 'Brussels/Antwerp',
       'Utrecht;Netherlands', 'Rome;IT', 'Malaga;Spain', 'Unknown;UK',
       'Valencia;Spain', 'Warsaw;Poland', 'Tallinn;Estonia', 'Gothenburg',
       'Unknown;Italy', 'Felixstowe', 'D?sseldorf', 'Barcelona;Spain',
       'Sofia Bulgaria', 'London', 'Budapest;Hungary', 'Lisbon;Portugal',
       'Alicante/Murcia;Spain', 'Vienna', 'Frankfurt;Switzerland',
       'Brussels', 'Zagreb', ' Venice; Italy', 'Tarragona;Spain',
       'Krakow;Poland', 'Athens ; Greece', 'Madrid;Spain',
       'Bremen;Germany', 'Athens;Greece', 'Unknown;Spain', 'London ',
       'Antwerp; Belgium', 'Torino;Italy', 'Lisbon ', 'Venice/Treviso',
       'Genoa;Italy', 'Nantes;France', 'Dublin;Ireland',
       'Vilnius;Lithuania', 'Alicante;Spain', 'Grange ; Ireland',
       'Cardiff;UK', 'Treviso', 'Brussels;Belgium', 'Ljubljana', 'Poland',
       'Malaga', 'Naples;Italy', 'Prague;CZ', 'Antwerp;Belgium', 'lisbon',
       'Turin', 'Riga;Latvia', 'Trim', 'Uppsala;Sweden', 'Frankfurt',
       'Dusseldorf', 'Trim;Ireland ', 'Milan', 'Coimbra', 'Naples',
       'Sofia;BG', 'Rotterdam/Delft', 'Bratislava', 'Denmark',
       'Thessaloniki;GR', 'Leipzig;Germany', 'Amsterdam;Netherlands',
       'Turin;Italy', 'Berlin;Germany', 'Torino', 'Ljubljana;SI',
       'Venice;IT', 'Seville;Spain', 'Treviso;Italy', 'Venice;Italy',
       'Zagreb/Helsinki'], dtype=object)

In [71]:
!cat solutions/05_14.py

df["Location"].unique()

You can see that the cities and countries are separated with a semi-column (even if some values are missing). We are going to split the ***Location*** column.
>Try splitting the ***Location*** column on the semi-column.  
>You can check the [link](https://pandas.pydata.org/pandas-docs/version/0.23.4/text.html) provided earlier or the [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.split.html).

In [72]:
df['Location'].str.split(';')

0         [lisbon, Portugal]
1                  [Bristol]
2      [Ljubljana, Slovenia]
3                    [Padua]
4                     [Rome]
               ...
261             [Venice, IT]
262               [Valencia]
263             [Bratislava]
264        [Zagreb/Helsinki]
265                [Antwerp]
Name: Location, Length: 266, dtype: object

In [74]:
df["Location"].str.split(pat=";")

0         [lisbon, Portugal]
1                  [Bristol]
2      [Ljubljana, Slovenia]
3                    [Padua]
4                     [Rome]
               ...
261             [Venice, IT]
262               [Valencia]
263             [Bratislava]
264        [Zagreb/Helsinki]
265                [Antwerp]
Name: Location, Length: 266, dtype: object

In [73]:
 !cat solutions/05_15.py

df["Location"].str.split(pat=";")

This return a list with the items which were before and after the semi-column.  
>Try again to split again the ***Location*** column, but expand expand the results to get it in different columns.

In [192]:
df_temp = df['Location'].str.split(pat = ';', expand= True)
df_temp[0]

0               lisbon
1              Bristol
2            Ljubljana
3                Padua
4                 Rome
            ...
261             Venice
262           Valencia
263         Bratislava
264    Zagreb/Helsinki
265            Antwerp
Name: 0, Length: 266, dtype: object

In [80]:
df['Location'].str.split(pat = ';')

0         [lisbon, Portugal]
1                  [Bristol]
2      [Ljubljana, Slovenia]
3                    [Padua]
4                     [Rome]
               ...
261             [Venice, IT]
262               [Valencia]
263             [Bratislava]
264        [Zagreb/Helsinki]
265                [Antwerp]
Name: Location, Length: 266, dtype: object

In [82]:
!cat solutions/05_16.py

df["Location"].str.split(pat=";", expand=True)

>Create a ***city*** and a ***country*** columns in df using this split.

In [193]:
df['city'] = df_temp[0]
df['country'] = df_temp[1]

In [86]:
!cat solutions/05_17.py

df[["city", "country"]] = df["Location"].str.split(pat=";", expand=True)

In [88]:
df.head()

,index,CourseName,Location,DateFrom,DateTo,Attendees,city,country
0,0,Risk Assessment (Pest),lisbon;Portugal,2015-01-12,2015-01-16,1,lisbon,Portugal
1,1,Organic Farming,Bristol,2015-01-19,2015-01-22,2,Bristol,None
2,2,Prevention Control and Eradication of Transmis...,Ljubljana;Slovenia,2015-01-20,2015-01-23,2,Ljubljana,Slovenia
3,3,Contingency Planning,Padua,2015-01-26,2015-01-30,2,Padua,None
4,4,HACCP,Rome,2015-02-02,2015-02-06,2,Rome,None

>Drop the ***Location*** column.

In [194]:
df = df.drop(axis =1 , labels = ['Location'])

In [93]:
!cat solutions/05_18.py

df = df.drop("Location", axis=1)

In [92]:
df.head()

,index,CourseName,DateFrom,DateTo,Attendees,city,country
0,0,Risk Assessment (Pest),2015-01-12,2015-01-16,1,lisbon,Portugal
1,1,Organic Farming,2015-01-19,2015-01-22,2,Bristol,None
2,2,Prevention Control and Eradication of Transmis...,2015-01-20,2015-01-23,2,Ljubljana,Slovenia
3,3,Contingency Planning,2015-01-26,2015-01-30,2,Padua,None
4,4,HACCP,2015-02-02,2015-02-06,2,Rome,None

>Get the number of unique values in the ***country*** column.

In [95]:
df.country.nunique()

35

In [96]:
 !cat solutions/05_19.py

df["country"].nunique()

>Check the count of each unique values in the ***country*** column.

In [97]:
df.country.value_counts()

country
Ireland           16
Spain             13
Italy             13
IT                 5
Germany            5
Slovenia           4
Portugal           4
UK                 4
Greece             4
Netherlands        3
France             3
Belgium            3
Poland             2
United Kingdom     1
 Ireland           1
 Italy             1
Austria            1
Croatia            1
Slovakia           1
Estonia            1
Denmark            1
 Italy             1
Hungary            1
 Greece            1
 Belgium           1
Lithuania          1
Switzerland        1
 Ireland           1
CZ                 1
Latvia             1
Sweden             1
Ireland            1
BG                 1
GR                 1
SI                 1
Name: count, dtype: int64

In [98]:
!cat solutions/05_20.py

df["country"].value_counts()

We can see that some countries (e.g. Italy) seems to appear several times with some variations.
>Use the strip method to remove the (potential) extra spaces at the beginning and the end of the cities and countries.

In [195]:
df['city'] = df.city.str.strip()
df['country'] = df.country.str.strip()

In [104]:
 !cat solutions/05_21.py

df["country"] = df["country"].str.strip()
df["city"] = df["city"].str.strip()

   >Check again the number of unique values in the country column

In [105]:
df.country.nunique()

28

In [106]:
!cat solutions/05_22.py

df["country"].nunique()

>Have a look at the rows where the ***country*** is Portugal.  
What do you notice about the ***city***?

In [108]:
df[df['country'] == 'Portugal']

0       lisbon
44     Coimbra
117     Lisbon
254     Lisbon
Name: city, dtype: object

In [109]:
!cat solutions/05_23.py

df[df["country"] == "Portugal"]

>Put the ***city*** column into lower case (don't forget to re-assign it to the **city** column).

In [196]:
df['city'] = df['city'].str.lower()
df.head()

,index,CourseName,DateFrom,DateTo,Attendees,city,country
0,0,Risk Assessment (Pest),2015-01-12,2015-01-16,1,lisbon,Portugal
1,1,Organic Farming,2015-01-19,2015-01-22,2,bristol,None
2,2,Prevention Control and Eradication of Transmis...,2015-01-20,2015-01-23,2,ljubljana,Slovenia
3,3,Contingency Planning,2015-01-26,2015-01-30,2,padua,None
4,4,HACCP,2015-02-02,2015-02-06,2,rome,None

In [112]:
 !cat solutions/05_24.py

df["city"] = df["city"].str.lower()

>Have a look at the rows where the ***city*** contains ' ***/*** '.

In [114]:
df[df['city'].str.contains('/')]

,index,CourseName,DateFrom,DateTo,Attendees,city,country
69,41,Food Hygiene at Primary Production (Aquatic An...,2015-06-28,2015-10-02,1,venice/udine,Italy
79,51,Plant Health Controls,2015-09-15,2015-09-17,1,brussels/antwerp,None
118,90,Food Hygiene at Primary Production (Plants),2015-11-16,2015-11-20,1,alicante/murcia,Spain
145,117,Plant Health Controls,2016-03-07,2016-03-11,2,venice/treviso,None
159,9,Plant Health Controls,2016-04-25,2016-04-29,2,venice/treviso,None
174,24,Plant Health Controls,2016-05-17,2016-05-19,2,brussels/antwerp,None
216,66,Import Controls on Food and Feed of Non-Animal...,2016-09-13,2016-09-16,13,rotterdam/delft,None
264,114,Food Hygiene and Flexibility,2017-03-20,2017-03-24,2,zagreb/helsinki,None

In [115]:
 !cat solutions/05_25.py

df["city"][df["city"].str.contains("/")]

Let's decide we only want to have one city for each row. We can decide to keep only the city before the forward slash.  
>Replace the string with a forward slash (i.e. ***/***) with the city appearing before the slash in the ***city*** column.  
>You will have to use a [regular expression](https://docs.python.org/3/howto/regex.html#repeating-things).      
>You can test your regular expression [here](https://regex101.com).

In [125]:
df['city'] = df['city'][df['city'].str.contains('/')].str.split('/', expand = True)[0]

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
        ...
261       NaN
262       NaN
263       NaN
264    zagreb
265       NaN
Name: city, Length: 266, dtype: object

In [124]:
df['city'][df['city'].str.contains('/')].str.split(pat = '/', expand = True)[0]

69        venice
79      brussels
118     alicante
145       venice
159       venice
174     brussels
216    rotterdam
264       zagreb
Name: 0, dtype: object

In [129]:
!cat solutions/05_26.py

df["city"] = df["city"].str.replace(r"/\w*", "", regex=True)

In [197]:
df["city"] = df["city"].str.replace(r"/\w*", "", regex=True)

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Map
</h2><br>
</div>

In [130]:
df['country'].value_counts()

country
Ireland           19
Italy             15
Spain             13
Germany            5
IT                 5
Greece             5
Portugal           4
Belgium            4
UK                 4
Slovenia           4
Netherlands        3
France             3
Poland             2
Austria            1
Slovakia           1
United Kingdom     1
Croatia            1
Denmark            1
Hungary            1
Estonia            1
Switzerland        1
Lithuania          1
CZ                 1
Latvia             1
Sweden             1
BG                 1
GR                 1
SI                 1
Name: count, dtype: int64

We saw that some countries were filled with their country code, and others with their name. We are going to move everything to the same format.  
We can do that by mapping a dictionary to a column. It will then replace the ***key*** with the corresponding ***value***.  
>Complete the code below to replace the country codes with the country name.  
>Note that we use a mask as we want to replace only certain values of the series.

In [198]:
dict_codes = {'BG':'Bulgaria', 'CZ':'Czech Republic', 'IT':'Italy', 'GR':'Greece', 'SI':'Slovenia', 'UK':'United Kingdom'}

In [144]:
temp = df.loc[df['country'].isin(dict_codes.keys()), 'country']
temp

82     IT
87     UK
110    IT
164    UK
183    CZ
215    BG
230    IT
231    GR
237    UK
240    UK
250    SI
253    IT
261    IT
Name: country, dtype: object

In [170]:
[dict_codes[key] for key in df.loc[df['country'].isin(dict_codes.keys()), 'country'] if key in dict_codes]

['Italy',
 'United Kingdom',
 'Italy',
 'United Kingdom',
 'Czech Republic',
 'Bulgaria',
 'Italy',
 'Greece',
 'United Kingdom',
 'United Kingdom',
 'Slovenia',
 'Italy',
 'Italy']

In [171]:
dict_codes[key] for key in df.loc[df['country'].isin(dict_codes.keys()), 'country'] if key in dict_codes

SyntaxError: invalid syntax (<ipython-input-171-757e28ae5517>, line 1)

In [199]:
df.loc[df['country'].isin(dict_codes.keys()), 'country'] =  [dict_codes[key] for key in df.loc[df['country'].isin(dict_codes.keys()), 'country'] if key in dict_codes] # this one causing the unknow keys dropped???

In [200]:
df.loc[df['country'].isin(dict_codes.keys()), 'country']

Series([], Name: country, dtype: object)

In [201]:
dict_codes['BG']
dict_codes['CZ']
dict_codes['UK']

'United Kingdom'

In [177]:
!cat solutions/05_27.py

dict_codes = {
    "BG": "Bulgaria",
    "CZ": "Czech Republic",
    "IT": "Italy",
    "GR": "Greece",
    "SI": "Slovenia",
    "UK": "United Kingdom",
}

country_in_codes = df["country"].isin(dict_codes.keys())
df.loc[country_in_codes, "country"] = df.loc[country_in_codes, "country"].map(dict_codes)

In [202]:
df['country'].value_counts(dropna=False)

country
None              165
Italy              20
Ireland            19
Spain              13
Greece              6
United Kingdom      5
Germany             5
Slovenia            5
Portugal            4
Belgium             4
Netherlands         3
France              3
Poland              2
Croatia             1
Slovakia            1
Austria             1
Denmark             1
Hungary             1
Estonia             1
Switzerland         1
Lithuania           1
Czech Republic      1
Latvia              1
Sweden              1
Bulgaria            1
Name: count, dtype: int64

Certain city values are unknown.  
>Have a look at the ***country*** values where the ***city*** is ***unknown***.

In [180]:
df['city'].value_counts(dropna = False)

city
NaN          258
venice         3
brussels       2
alicante       1
rotterdam      1
zagreb         1
Name: count, dtype: int64

In [182]:
df['country'][df['city'].isna()]

0      Portugal
1          None
2      Slovenia
3          None
4          None
         ...
260       Italy
261       Italy
262        None
263        None
265        None
Name: country, Length: 258, dtype: object

In [203]:
df['country'][df['city'] == 'unknown'] # what it is popping out again???

53             France
65            Denmark
87     United Kingdom
99              Italy
109             Italy
120             Italy
132             Italy
138             Spain
194             Spain
237    United Kingdom
247             Italy
Name: country, dtype: object

In [204]:
df.loc[df['city'] == 'unknown', 'country']

53             France
65            Denmark
87     United Kingdom
99              Italy
109             Italy
120             Italy
132             Italy
138             Spain
194             Spain
237    United Kingdom
247             Italy
Name: country, dtype: object

In [185]:
!cat solutions/05_28.py

df.loc[df["city"] == "unknown", "country"]

>Complete the code bellow to replace the value ***unknown*** in the ***city*** column with the capital of the corresponding ***country***.

In [205]:
dict_capitals = {'Denmark':'copenhague', 'France':'paris', 'Italy':'rome', 'Spain':'madrid', 'United Kingdom':'london'}

df.loc[df['city'] == 'unknown', 'city'] = df.loc[df['city'] == 'unknown', 'country'].map(dict_capitals)

In [207]:
!cat solutions/05_29.py

dict_capitals = {
    "Denmark": "copenhague",
    "France": "paris",
    "Italy": "rome",
    "Spain": "madrid",
    "United Kingdom": "london",
}

unknown_city = df["city"] == "unknown"
df.loc[unknown_city, "city"] = df.loc[unknown_city, "country"].map(dict_capitals)

Lots of countries are missing, but we can fill them using the cities.  
We can create a dictionary of cities and their corresponding countries using the rows where the ***country*** is not null.

In [215]:
dict_cities = df.loc[df['country'].notnull(), ['city', 'country']].set_index('city').to_dict()['country']

In [214]:
df.loc[df['country'].notnull(), ['city', 'country']].set_index('city').to_dict()['country'] # what if one key has two values???? how to clean it...

{'lisbon': 'Portugal',
 'ljubljana': 'Slovenia',
 'milan': 'Italy',
 'trim': 'Ireland',
 'grange': 'Ireland',
 'zagreb': 'Croatia',
 'padua': 'Italy',
 'coimbra': 'Portugal',
 'bratislava': 'Slovakia',
 'felixstowe': 'United Kingdom',
 'paris': 'France',
 'rotterdam': 'Netherlands',
 'munich': 'Germany',
 'copenhague': 'Denmark',
 'vienna': 'Austria',
 'marseille': 'France',
 'venice': 'Italy',
 'dusseldorf': 'Germany',
 'maribor': 'Slovenia',
 'utrecht': 'Netherlands',
 'rome': 'Italy',
 'malaga': 'Spain',
 'london': 'United Kingdom',
 'valencia': 'Spain',
 'warsaw': 'Poland',
 'tallinn': 'Estonia',
 'barcelona': 'Spain',
 'budapest': 'Hungary',
 'alicante': 'Spain',
 'frankfurt': 'Switzerland',
 'tarragona': 'Spain',
 'krakow': 'Poland',
 'athens': 'Greece',
 'madrid': 'Spain',
 'bremen': 'Germany',
 'antwerp': 'Belgium',
 'torino': 'Italy',
 'genoa': 'Italy',
 'nantes': 'France',
 'dublin': 'Ireland',
 'vilnius': 'Lithuania',
 'cardiff': 'United Kingdom',
 'brussels': 'Belgium',
 'naples': 'Italy',
 'prague': 'Czech Republic',
 'riga': 'Latvia',
 'uppsala': 'Sweden',
 'sofia': 'Bulgaria',
 'thessaloniki': 'Greece',
 'leipzig': 'Germany',
 'amsterdam': 'Netherlands',
 'turin': 'Italy',
 'berlin': 'Germany',
 'seville': 'Spain',
 'treviso': 'Italy'}

We now want to check if all the cities we need are in our dictionary.  
>Subtracting the dictionary keys to the set of the ***city*** values, find which cities are in the ***city*** column but not in the dictionary ***keys***.

In [220]:
set(df['city'])

{'alicante',
 'amsterdam',
 'antwerp',
 'athens',
 'barcelona',
 'berlin',
 'bratislava',
 'bremen',
 'bristol',
 'brussels',
 'budapest',
 'cardiff',
 'coimbra',
 'copenhague',
 'd?sseldorf',
 'denmark',
 'dublin',
 'dusseldorf',
 'felixstowe',
 'frankfurt',
 'genoa',
 'gothenburg',
 'grange',
 'graz',
 'krakow',
 'leipzig',
 'lisbon',
 'ljubljana',
 'london',
 'lyon',
 'madrid',
 'malaga',
 'maribor',
 'marseille',
 'milan',
 'munich',
 'murcia',
 'nantes',
 'naples',
 'padua',
 'paris',
 'parma',
 'poland',
 'prague',
 'riga',
 'rome',
 'rotterdam',
 'seville',
 'sofia',
 'sofia bulgaria',
 'tallinn',
 'tarragona',
 'thessaloniki',
 'torino',
 'treviso',
 'trim',
 'turin',
 'uppsala',
 'utrecht',
 'valencia',
 'venice',
 'vienna',
 'vilnius',
 'warsaw',
 'zagreb'}

In [222]:
dict_cities.keys()

dict_keys(['lisbon', 'ljubljana', 'milan', 'trim', 'grange', 'zagreb', 'padua', 'coimbra', 'bratislava', 'felixstowe', 'paris', 'rotterdam', 'munich', 'copenhague', 'vienna', 'marseille', 'venice', 'dusseldorf', 'maribor', 'utrecht', 'rome', 'malaga', 'london', 'valencia', 'warsaw', 'tallinn', 'barcelona', 'budapest', 'alicante', 'frankfurt', 'tarragona', 'krakow', 'athens', 'madrid', 'bremen', 'antwerp', 'torino', 'genoa', 'nantes', 'dublin', 'vilnius', 'cardiff', 'brussels', 'naples', 'prague', 'riga', 'uppsala', 'sofia', 'thessaloniki', 'leipzig', 'amsterdam', 'turin', 'berlin', 'seville', 'treviso'])

In [227]:
set(df['city']) - dict_cities.keys()

{'bristol',
 'd?sseldorf',
 'denmark',
 'gothenburg',
 'graz',
 'lyon',
 'murcia',
 'parma',
 'poland',
 'sofia bulgaria'}

In [232]:
df['city'] - dict_cities.keys()

0            {i, o, n, b, s, l}
1         {i, r, o, t, b, s, l}
2            {u, n, b, a, j, l}
3                  {a, d, p, u}
4                  {o, m, e, r}
                 ...
261             {i, e, c, v, n}
262       {i, e, c, v, n, a, l}
263    {i, r, t, v, b, s, a, l}
264          {z, e, r, b, g, a}
265       {e, r, p, t, n, a, w}
Name: city, Length: 266, dtype: object

In [234]:
set(df['city'])

{'alicante',
 'amsterdam',
 'antwerp',
 'athens',
 'barcelona',
 'berlin',
 'bratislava',
 'bremen',
 'bristol',
 'brussels',
 'budapest',
 'cardiff',
 'coimbra',
 'copenhague',
 'd?sseldorf',
 'denmark',
 'dublin',
 'dusseldorf',
 'felixstowe',
 'frankfurt',
 'genoa',
 'gothenburg',
 'grange',
 'graz',
 'krakow',
 'leipzig',
 'lisbon',
 'ljubljana',
 'london',
 'lyon',
 'madrid',
 'malaga',
 'maribor',
 'marseille',
 'milan',
 'munich',
 'murcia',
 'nantes',
 'naples',
 'padua',
 'paris',
 'parma',
 'poland',
 'prague',
 'riga',
 'rome',
 'rotterdam',
 'seville',
 'sofia',
 'sofia bulgaria',
 'tallinn',
 'tarragona',
 'thessaloniki',
 'torino',
 'treviso',
 'trim',
 'turin',
 'uppsala',
 'utrecht',
 'valencia',
 'venice',
 'vienna',
 'vilnius',
 'warsaw',
 'zagreb'}

In [235]:
df['city']

0          lisbon
1         bristol
2       ljubljana
3           padua
4            rome
          ...
261        venice
262      valencia
263    bratislava
264        zagreb
265       antwerp
Name: city, Length: 266, dtype: object

In [231]:
!cat ../solutions/05_30.py

cat: ../solutions/05_30.py: No such file or directory

>Knowing that Bristol is in the United Kingdom, Gothenburg in Sweden, Graz in Austria, Lyon in France, Murcia in Spain and Parma in Italy, add some key-value pair to the dictionary ***dict_cities***.    
>You can either add each key-value pair or you can [update](https://python-reference.readthedocs.io/en/latest/docs/dict/update.html) dict_cities with another dictionary.

In [239]:
dict_cities['bristol'] = 'United Kingdom'
dict_cities['gothenburg'] = 'Sweden'
dict_cities['graz'] = 'Austria'
dict_cities['lyon'] = 'France'
dict_cities['parma'] = 'Italy'
dict_cities['murcia'] = 'Spain'

In [237]:
set(df['city']) - dict_cities.keys()

{'bristol',
 'd?sseldorf',
 'denmark',
 'gothenburg',
 'graz',
 'lyon',
 'murcia',
 'parma',
 'poland',
 'sofia bulgaria'}

In [238]:
df['country']

0      Portugal
1          None
2      Slovenia
3          None
4          None
         ...
261       Italy
262        None
263        None
264        None
265        None
Name: country, Length: 266, dtype: object

In [240]:
!cat ../solutions/05_31.py

cat: ../solutions/05_31.py: No such file or directory

>Use this dictionary to fill in some of the missing countries.

In [247]:
df.loc[df['country'].isnull(), 'country'] = df.loc[df['country'].isnull(), 'city'].map(dict_cities)

In [246]:
dict_cities

{'lisbon': 'Portugal',
 'ljubljana': 'Slovenia',
 'milan': 'Italy',
 'trim': 'Ireland',
 'grange': 'Ireland',
 'zagreb': 'Croatia',
 'padua': 'Italy',
 'coimbra': 'Portugal',
 'bratislava': 'Slovakia',
 'felixstowe': 'United Kingdom',
 'paris': 'France',
 'rotterdam': 'Netherlands',
 'munich': 'Germany',
 'copenhague': 'Denmark',
 'vienna': 'Austria',
 'marseille': 'France',
 'venice': 'Italy',
 'dusseldorf': 'Germany',
 'maribor': 'Slovenia',
 'utrecht': 'Netherlands',
 'rome': 'Italy',
 'malaga': 'Spain',
 'london': 'United Kingdom',
 'valencia': 'Spain',
 'warsaw': 'Poland',
 'tallinn': 'Estonia',
 'barcelona': 'Spain',
 'budapest': 'Hungary',
 'alicante': 'Spain',
 'frankfurt': 'Switzerland',
 'tarragona': 'Spain',
 'krakow': 'Poland',
 'athens': 'Greece',
 'madrid': 'Spain',
 'bremen': 'Germany',
 'antwerp': 'Belgium',
 'torino': 'Italy',
 'genoa': 'Italy',
 'nantes': 'France',
 'dublin': 'Ireland',
 'vilnius': 'Lithuania',
 'cardiff': 'United Kingdom',
 'brussels': 'Belgium',
 'naples': 'Italy',
 'prague': 'Czech Republic',
 'riga': 'Latvia',
 'uppsala': 'Sweden',
 'sofia': 'Bulgaria',
 'thessaloniki': 'Greece',
 'leipzig': 'Germany',
 'amsterdam': 'Netherlands',
 'turin': 'Italy',
 'berlin': 'Germany',
 'seville': 'Spain',
 'treviso': 'Italy',
 'bristol': 'United Kingdom',
 'gothenburg': 'Sweden',
 'graz': 'Austria',
 'lyon': 'France',
 'parma': 'Italy',
 'murcia': 'Spain'}

In [ ]:
# !cat ../solutions/05_32.py

>Get the count of the different values of the ***country*** column, showing the NaN values.

In [249]:
df['country'].value_counts(dropna=False)

country
Italy             42
Spain             38
Ireland           20
Portugal          18
Germany           17
United Kingdom    14
Slovenia          13
Hungary           11
Latvia            11
Belgium           10
Greece             9
Estonia            8
Poland             7
Czech Republic     7
France             7
Netherlands        6
Austria            6
Croatia            4
Lithuania          4
Slovakia           4
NaN                4
Switzerland        2
Sweden             2
Denmark            1
Bulgaria           1
Name: count, dtype: int64

In [ ]:
# !cat ../solutions/05_33.py

We can see that there are only 4 NaN values. They correspond to bad data entries that we could "manually" correct. Feel free to add a few calls below and give it a try if you feel like it!

In [255]:
df.loc[df['country'].isna(), 'city'] = ['dusseldorf', 'sofia', 'NullCityPoland', 'NullCityDenmark']

In [256]:
df.loc[df['country'].isna(), 'city']

104         dusseldorf
112              sofia
175     NullCityPoland
223    NullCityDenmark
Name: city, dtype: object

In [265]:
df.loc[df['city'] == 'dusseldorf', 'country']

75     Germany
104        NaN
203    Germany
213    Germany
Name: country, dtype: object

In [268]:
df.loc[df['city'] == 'dusseldorf', 'country'] = 'Germany'

In [269]:
df.loc[df['city'] == 'dusseldorf', 'country']

75     Germany
104    Germany
203    Germany
213    Germany
Name: country, dtype: object

In [260]:
df.loc[df['city'] == 'NullCityPoland', 'country'] = 'Poland'

In [261]:
df.loc[df['city'] == 'NullCityPoland', 'country']

175    Poland
Name: country, dtype: object

In [263]:
df.loc[df['city'] == 'sofia', 'country'] = 'Bulgaria'

In [264]:
df.loc[df['city'] == 'sofia', 'country']

112    Bulgaria
215    Bulgaria
Name: country, dtype: object

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Apply
</h2><br>
</div>

>Write a function that returns ***single*** if the value passed is 1, and ***multiple*** otherwise.

In [270]:
def f(x):
  if x == 1:
    return "single"
  else:
    return "multiple"

In [282]:
 !cat ../solutions/05_34.py

def f(x):
    if x == 1:
        return "single"
    else:
        return "multiple"

In [280]:
import os
print(os.getcwd())
%ls
%cd solutions

/content
data/  media/  sample_data/  solutions/
/content/solutions

In [281]:
%ls

01_01.py  01_17.py  01_33.py  02_11.py  02_27.py  05_02.py  05_18.py  05_34.py
01_02.py  01_18.py  01_34.py  02_12.py  02_28.py  05_03.py  05_19.py  05_35.py
01_03.py  01_19.py  01_35.py  02_13.py  02_29.py  05_04.py  05_20.py  05_36.py
01_04.py  01_20.py  01_36.py  02_14.py  02_30.py  05_05.py  05_21.py  05_37.py
01_05.py  01_21.py  01_37.py  02_15.py  02_31.py  05_06.py  05_22.py  05_38.py
01_06.py  01_22.py  01_38.py  02_16.py  02_32.py  05_07.py  05_23.py  05_39.py
01_07.py  01_23.py  02_01.py  02_17.py  04_01.py  05_08.py  05_24.py  05_40.py
01_08.py  01_24.py  02_02.py  02_18.py  04_02.py  05_09.py  05_25.py  05_41.py
01_09.py  01_25.py  02_03.py  02_19.py  04_03.py  05_10.py  05_26.py  05_42.py
01_10.py  01_26.py  02_04.py  02_20.py  04_04.py  05_11.py  05_27.py  05_43.py
01_11.py  01_27.py  02_05.py  02_21.py  04_05.py  05_12.py  05_28.py  05_44.py
01_12.py  01_28.py  02_06.py  02_22.py  04_06.py  05_13.py  05_29.py  05_45.py
01_13.py  01_29.py  02_07.py  02_23.py  04_07.py  05_14.py  05_30.py  05_46.py
01_14.py  01_30.py  02_08.py  02_24.py  04_08.py  05_15.py  05_31.py  05_47.py
01_15.py  01_31.py  02_09.py  02_25.py  04_09.py  05_16.py  05_32.py
01_16.py  01_32.py  02_10.py  02_26.py  05_01.py  05_17.py  05_33.py

>Apply this function to the ***Attendees*** column.

In [286]:
df['Attendees'].map(f)

0        single
1      multiple
2      multiple
3      multiple
4      multiple
         ...
261    multiple
262    multiple
263      single
264    multiple
265    multiple
Name: Attendees, Length: 266, dtype: object

In [287]:
!cat ../solutions/05_35.py

df["Attendees"].apply(f)

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Join
</h2><br>
</div>

>Load the language data and assign it to languages (path: 'data/food_training/languages.csv')

In [294]:
languages = pd.read_csv('../data/food_training/languages.csv')

In [293]:
%ls

01_01.py  01_17.py  01_33.py  02_11.py  02_27.py  05_02.py  05_18.py  05_34.py
01_02.py  01_18.py  01_34.py  02_12.py  02_28.py  05_03.py  05_19.py  05_35.py
01_03.py  01_19.py  01_35.py  02_13.py  02_29.py  05_04.py  05_20.py  05_36.py
01_04.py  01_20.py  01_36.py  02_14.py  02_30.py  05_05.py  05_21.py  05_37.py
01_05.py  01_21.py  01_37.py  02_15.py  02_31.py  05_06.py  05_22.py  05_38.py
01_06.py  01_22.py  01_38.py  02_16.py  02_32.py  05_07.py  05_23.py  05_39.py
01_07.py  01_23.py  02_01.py  02_17.py  04_01.py  05_08.py  05_24.py  05_40.py
01_08.py  01_24.py  02_02.py  02_18.py  04_02.py  05_09.py  05_25.py  05_41.py
01_09.py  01_25.py  02_03.py  02_19.py  04_03.py  05_10.py  05_26.py  05_42.py
01_10.py  01_26.py  02_04.py  02_20.py  04_04.py  05_11.py  05_27.py  05_43.py
01_11.py  01_27.py  02_05.py  02_21.py  04_05.py  05_12.py  05_28.py  05_44.py
01_12.py  01_28.py  02_06.py  02_22.py  04_06.py  05_13.py  05_29.py  05_45.py
01_13.py  01_29.py  02_07.py  02_23.py  04_07.py  05_14.py  05_30.py  05_46.py
01_14.py  01_30.py  02_08.py  02_24.py  04_08.py  05_15.py  05_31.py  05_47.py
01_15.py  01_31.py  02_09.py  02_25.py  04_09.py  05_16.py  05_32.py
01_16.py  01_32.py  02_10.py  02_26.py  05_01.py  05_17.py  05_33.py

In [ ]:
# !cat ../solutions/05_36.py

In [295]:
languages.head()

   Country    Official and national Languages
0  Albania                           Albanian
1  Andorra                            Catalan
2  Austria  German/Slovene/Croatian/Hungarian
3  Belarus                 Belarusian/Russian
4  Belgium                Dutch/French/German

>Join df and languages to add the language information to df.  
>You can check the page about [merge, join and concatenation](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html) or the merge method [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html).

In [301]:
df.merge(languages, left_on = 'country', right_on = 'Country')

,index,CourseName,DateFrom,DateTo,Attendees,city,country,Country,Official and national Languages
0,0,Risk Assessment (Pest),2015-01-12,2015-01-16,1,lisbon,Portugal,Portugal,Portuguese
1,1,Organic Farming,2015-01-19,2015-01-22,2,bristol,United Kingdom,United Kingdom,English
2,2,Prevention Control and Eradication of Transmis...,2015-01-20,2015-01-23,2,ljubljana,Slovenia,Slovenia,Slovenian
3,3,Contingency Planning,2015-01-26,2015-01-30,2,padua,Italy,Italy,Italian
4,4,HACCP,2015-02-02,2015-02-06,2,rome,Italy,Italy,Italian
...,...,...,...,...,...,...,...,...,...
260,111,Contingency Planning,2017-03-06,2017-03-10,3,venice,Italy,Italy,Italian
261,112,Audit B1 - Standard Level,2017-03-06,2017-03-10,2,valencia,Spain,Spain,Spanish/Catalan/Galician/Basque
262,113,Audit A,2017-03-20,2017-03-24,1,bratislava,Slovakia,Slovakia,Slovak
263,114,Food Hygiene and Flexibility,2017-03-20,2017-03-24,2,zagreb,Croatia,Croatia,Croatian
264,115,Animal Health and Disease Prevention for Bees ...,2017-03-28,2017-03-31,2,antwerp,Belgium,Belgium,Dutch/French/German

In [299]:
df.columns

Index(['index', 'CourseName', 'DateFrom', 'DateTo', 'Attendees', 'city',
       'country'],
      dtype='object')

In [302]:
!cat ../solutions/05_37.py

df = df.merge(languages, how="left", left_on="country", right_on="Country")

In [303]:
df = df.merge(languages, how = 'left', left_on = 'country', right_on = 'Country')

In [304]:
df

,index,CourseName,DateFrom,DateTo,Attendees,city,country,Country,Official and national Languages
0,0,Risk Assessment (Pest),2015-01-12,2015-01-16,1,lisbon,Portugal,Portugal,Portuguese
1,1,Organic Farming,2015-01-19,2015-01-22,2,bristol,United Kingdom,United Kingdom,English
2,2,Prevention Control and Eradication of Transmis...,2015-01-20,2015-01-23,2,ljubljana,Slovenia,Slovenia,Slovenian
3,3,Contingency Planning,2015-01-26,2015-01-30,2,padua,Italy,Italy,Italian
4,4,HACCP,2015-02-02,2015-02-06,2,rome,Italy,Italy,Italian
...,...,...,...,...,...,...,...,...,...
261,111,Contingency Planning,2017-03-06,2017-03-10,3,venice,Italy,Italy,Italian
262,112,Audit B1 - Standard Level,2017-03-06,2017-03-10,2,valencia,Spain,Spain,Spanish/Catalan/Galician/Basque
263,113,Audit A,2017-03-20,2017-03-24,1,bratislava,Slovakia,Slovakia,Slovak
264,114,Food Hygiene and Flexibility,2017-03-20,2017-03-24,2,zagreb,Croatia,Croatia,Croatian
265,115,Animal Health and Disease Prevention for Bees ...,2017-03-28,2017-03-31,2,antwerp,Belgium,Belgium,Dutch/French/German

>Drop the ***Country*** column from df.

In [307]:
df = df.drop(axis = 1, labels = 'Country')

,index,CourseName,DateFrom,DateTo,Attendees,city,country,Official and national Languages
0,0,Risk Assessment (Pest),2015-01-12,2015-01-16,1,lisbon,Portugal,Portuguese
1,1,Organic Farming,2015-01-19,2015-01-22,2,bristol,United Kingdom,English
2,2,Prevention Control and Eradication of Transmis...,2015-01-20,2015-01-23,2,ljubljana,Slovenia,Slovenian
3,3,Contingency Planning,2015-01-26,2015-01-30,2,padua,Italy,Italian
4,4,HACCP,2015-02-02,2015-02-06,2,rome,Italy,Italian
...,...,...,...,...,...,...,...,...
261,111,Contingency Planning,2017-03-06,2017-03-10,3,venice,Italy,Italian
262,112,Audit B1 - Standard Level,2017-03-06,2017-03-10,2,valencia,Spain,Spanish/Catalan/Galician/Basque
263,113,Audit A,2017-03-20,2017-03-24,1,bratislava,Slovakia,Slovak
264,114,Food Hygiene and Flexibility,2017-03-20,2017-03-24,2,zagreb,Croatia,Croatian
265,115,Animal Health and Disease Prevention for Bees ...,2017-03-28,2017-03-31,2,antwerp,Belgium,Dutch/French/German

In [308]:
!cat ../solutions/05_38.py

df = df.drop("Country", axis=1)

# N.B. You can only run this cell once! If you try run it again, it will throw an error!
#      Why? Because if you drop the Country column, it will be removed...so you can't
#      drop it a second time as the column isn't there to drop!

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Date time
</h2><br>
</div>

>Check the dtype of the ***DateFrom***.

In [309]:
df['DateFrom'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 266 entries, 0 to 265
Series name: DateFrom
Non-Null Count  Dtype
--------------  -----
266 non-null    object
dtypes: object(1)
memory usage: 2.2+ KB

In [313]:
df['DateFrom'].dtype

dtype('O')

In [310]:
!cat ../solutions/05_39.py

df["DateFrom"].dtype

***DateFrom*** and ***DateTo*** are objects.  
>Convert these two columns to ***datetime*** format.

In [314]:
df['DateFrom'] = datetime.datetime(df['DateFrom'])

TypeError: 'Series' object cannot be interpreted as an integer

In [316]:
import datetime

In [320]:
df['DateFrom'] = pd.to_datetime(df['DateFrom'])
df['DateTo'] = pd.to_datetime(df['DateTo'])

In [337]:
df['DateFrom']

0     2015-01-12
1     2015-01-19
2     2015-01-20
3     2015-01-26
4     2015-02-02
         ...
261   2017-03-06
262   2017-03-06
263   2017-03-20
264   2017-03-20
265   2017-03-28
Name: DateFrom, Length: 266, dtype: datetime64[ns]

In [338]:
df['DateTo']

0     2015-01-16
1     2015-01-22
2     2015-01-23
3     2015-01-30
4     2015-02-06
         ...
261   2017-03-10
262   2017-03-10
263   2017-03-24
264   2017-03-24
265   2017-03-31
Name: DateTo, Length: 266, dtype: datetime64[ns]

In [321]:
!cat ../solutions/05_40.py

df["DateFrom"] = pd.to_datetime(df["DateFrom"], format="%Y-%m-%d")
df["DateTo"] = pd.to_datetime(df["DateTo"], format="%Y-%m-%d")

Note: We could have used the parameter *parse_dates* when loading data.  
We can now use these columns to filter or do some calculation.
>Display the rows where the training started after the first February 2017.

In [322]:
df.loc[df['DateFrom'] > datetime.datetime(2017, 2, 1)]

,index,CourseName,DateFrom,DateTo,Attendees,city,country,Country,Official and national Languages
258,108,Food Hygiene and Flexibility,2017-02-06,2017-02-10,1,barcelona,Spain,Spain,Spanish/Catalan/Galician/Basque
259,109,Auditing Plastic Recycling Processes,2017-02-07,2017-02-10,2,treviso,Italy,Italy,Italian
260,110,CONTROL OF ZOONOSES AND PREVENTION AND MONITOR...,2017-02-13,2017-02-16,1,venice,Italy,Italy,Italian
261,111,Contingency Planning,2017-03-06,2017-03-10,3,venice,Italy,Italy,Italian
262,112,Audit B1 - Standard Level,2017-03-06,2017-03-10,2,valencia,Spain,Spain,Spanish/Catalan/Galician/Basque
263,113,Audit A,2017-03-20,2017-03-24,1,bratislava,Slovakia,Slovakia,Slovak
264,114,Food Hygiene and Flexibility,2017-03-20,2017-03-24,2,zagreb,Croatia,Croatia,Croatian
265,115,Animal Health and Disease Prevention for Bees ...,2017-03-28,2017-03-31,2,antwerp,Belgium,Belgium,Dutch/French/German

In [325]:
df['DateFrom'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 266 entries, 0 to 265
Series name: DateFrom
Non-Null Count  Dtype
--------------  -----
266 non-null    datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 2.2 KB

In [323]:
 !cat ../solutions/05_41.py

df[df["DateFrom"] > "2017-02-01"]

>Create a ***duration*** column with the duration of the training.

In [326]:
df['duration'] = df['DateTo'] - df['DateFrom']

In [327]:
 !cat ../solutions/05_42.py

df["duration"] = df["DateTo"] - df["DateFrom"] + datetime.timedelta(days=1)

>Create a ***month*** column indicating which month the training started.  
>Plot an histogram of the ***month*** column.

In [343]:
df['month'] = df['DateFrom'].month

AttributeError: 'Series' object has no attribute 'month'

TypeError: 'Series' object cannot be interpreted as an integer

In [339]:
datetime.date.month('2019-01-01')

TypeError: 'getset_descriptor' object is not callable

In [347]:
df['month'] = df['DateFrom'].dt.month

In [ ]:
# !cat ../solutions/05_43.py

In [348]:
df['month']

0      1
1      1
2      1
3      1
4      2
      ..
261    3
262    3
263    3
264    3
265    3
Name: month, Length: 266, dtype: int32

In [350]:
df['DateTo'].dt

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Sorting values
</h2><br>
</div>

>Sort df in alphabetical order of ***cities***.

In [352]:
df.sort_values('city')

,index,CourseName,DateFrom,DateTo,Attendees,city,country,Country,Official and national Languages,duration,month
223,73,Animal Welfare (In Pig Production),2016-09-27,2016-09-30,3,NullCityDenmark,NaN,NaN,NaN,3 days,9
175,25,Animal Welfare (During Transport),2016-05-17,2016-05-20,1,NullCityPoland,Poland,Poland,Polish,3 days,5
118,90,Food Hygiene at Primary Production (Plants),2015-11-16,2015-11-20,1,alicante,Spain,Spain,Spanish/Catalan/Galician/Basque,4 days,11
154,4,Traces (USE AT IMPORT OF LIVE ANIMALS AND PROD...,2016-04-05,2016-04-08,1,alicante,Spain,Spain,Spanish/Catalan/Galician/Basque,3 days,4
168,18,EU Feed Hygiene Rules and HACCP auditing,2016-05-10,2016-05-13,2,amsterdam,Netherlands,Netherlands,Dutch/Frisian,3 days,5
...,...,...,...,...,...,...,...,...,...,...,...
217,67,Animal identification registration and traceab...,2016-09-19,2016-09-23,1,warsaw,Poland,Poland,Polish,4 days,9
127,99,Movement of Cats and Dogs,2015-12-15,2015-12-18,1,zagreb,Croatia,Croatia,Croatian,3 days,12
37,9,Movement of Cats and Dogs,2015-04-21,2015-04-24,1,zagreb,Croatia,Croatia,Croatian,3 days,4
264,114,Food Hygiene and Flexibility,2017-03-20,2017-03-24,2,zagreb,Croatia,Croatia,Croatian,4 days,3
134,106,Movement of Cats and Dogs,2016-01-19,2016-01-22,1,zagreb,Croatia,Croatia,Croatian,3 days,1

In [353]:
!cat ../solutions/05_44.py

df.sort_values("city")

>Sort df by ascending ***duration*** and descending number of ***Attendees***.

In [356]:
df.sort_values(by = ['duration', 'Attendees'], ascending = [True, False])

,index,CourseName,DateFrom,DateTo,Attendees,city,country,Country,Official and national Languages,duration,month
252,102,Workshop on Fishery Products (FVO),2016-12-01,2015-12-03,3,grange,Ireland,Ireland,Irish/English,-364 days,12
163,13,Foodborne Outbreaks Investigations,2016-04-29,2016-03-04,2,lisbon,Portugal,Portugal,Portuguese,-56 days,4
67,39,Food Additives,2015-06-22,2015-06-22,2,trim,Ireland,Ireland,Irish/English,0 days,6
62,34,Risk Assessment (Pest),2015-06-15,2015-06-16,1,tallinn,Estonia,Estonia,Estonian,1 days,6
125,97,Post-slaughter traceability of Meat (FVO),2015-12-08,2015-12-10,3,grange,Ireland,Ireland,Irish/English,2 days,12
...,...,...,...,...,...,...,...,...,...,...,...
19,19,Food Hygiene and Flexibility,2015-03-08,2015-03-13,1,graz,Austria,Austria,German/Slovene/Croatian/Hungarian,5 days,3
61,33,Food Hygiene and Flexibility,2015-06-14,2015-06-19,1,vilnius,Lithuania,Lithuania,Lithuanian,5 days,6
116,88,Food Hygiene and Flexibility,2015-11-08,2015-11-13,1,barcelona,Spain,Spain,Spanish/Catalan/Galician/Basque,5 days,11
149,121,EU Feed Hygiene Rules and HACCP auditing,2016-03-31,2016-06-03,2,barcelona,Spain,Spain,Spanish/Catalan/Galician/Basque,64 days,3
69,41,Food Hygiene at Primary Production (Aquatic An...,2015-06-28,2015-10-02,1,venice,Italy,Italy,Italian,96 days,6

In [357]:
!cat ../solutions/05_45.py

df.sort_values(["duration", "Attendees"], ascending=[True, False])

We can see that there was a couple of issues with dates data entry...

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Group By
</h2><br>
</div>

>Group df by ***city***. Assign the grouped data to df_gr.

In [358]:
df_gr = df.groupby('city')

In [359]:
!cat ../solutions/05_46.py

df_gr = df.groupby("city")

>Get the mean number of ***Attendees*** for the grouped data.

In [362]:
df_gr['Attendees'].apply(f = average)

NameError: name 'average' is not defined

In [366]:
df_gr['Attendees'].agg(func = 'mean')

city
NullCityDenmark    3.000000
NullCityPoland     1.000000
alicante           1.000000
amsterdam          1.666667
antwerp            1.666667
                     ...
venice             1.700000
vienna             2.750000
vilnius            2.000000
warsaw             2.000000
zagreb             1.250000
Name: Attendees, Length: 63, dtype: float64

In [367]:
!cat ../solutions/05_47.py

df_gr["Attendees"].mean()